<ng-container *ngIf="{
    users: roomService.users$| async,
    isEditing: isEditing | async,
} as page">
    <forge-card raised>
        <div class="user-list">
            <h2>Voters</h2>
            @for (user of page.users; track $index; let i = $index) {
            <div class="user-card">
                <div class="avatar" [ngStyle]="{'background-color': getColor(i)}">{{user.avatar}}</div>
                <div class="user-name">{{user.name}}</div>

                @if(user.vote !== -1){
                <forge-icon class="success" name="check_circle"></forge-icon>
                }@else{
                <forge-icon name="radio_button_unchecked"></forge-icon>
                }
            </div>
            }
        </div>
    </forge-card>
</ng-container>