:host{
    display: flex;
    justify-content: center;
    padding-top: 10dvh;
}

forge-card{
    height: 50%;
    width: 460px;
}

forge-card > section{
    margin: 16px 0;
}
.card-header{
}

.card-content{
    display: flex;
    align-items: center;
    gap: 1rem;
}

.card-content > * {
    margin-bottom: auto;
}

.card-actions{
    display: flex;
    justify-content: end;
}