<forge-card raised>
    <forge-tab-bar [activeTab]="activeTabIndex" (forge-tab-bar-change)="onTabBarChange($event)">
        <forge-tab>Host</forge-tab>
        <forge-tab>Join</forge-tab>
    </forge-tab-bar>


    <!-- host -->
    @if(activeTabIndex === 0){
    <form [formGroup]="roomFormControl">
        <section class="card-header">
            <h3>Let's go... <span aria-label="fire emoji">🔥</span></h3>
        </section>
        <section class="card-content">
            <forge-text-field required="true"
                [theme]="(displayNameControl.valid || displayNameControl.untouched)? 'primary' : 'warning'">
                <label for="display-name">Display name</label>
                <input type="text" formControlName="displayNameControl" id="display-name">
                @if(displayNameControl.invalid){
                <span slot="helper-text">{{displayNameErrorMessage()}}</span>
                }
            </forge-text-field>
            <forge-text-field disabled="true">
                <label for="new-room-code">{{newRoomCode()}}</label>
                <input type="text" id="new-room-code">
            </forge-text-field>
        </section>
        <section class="card-actions">
            <forge-button type="submit" variant="filled" [disabled]="displayNameControl.invalid"
                (click)="onHostClick()">
                Host
            </forge-button>
        </section>
    </form>
    }

    <!-- join -->
    @if(activeTabIndex === 1){
    <form [formGroup]="roomFormControl">
        <section class="card-header">
            <h3>They're waiting... <span aria-label="fire emoji">⏳</span></h3>
        </section>
        <section class="card-content">
            <forge-text-field required="true"
                [theme]="(displayNameControl.valid || displayNameControl.untouched)? 'primary' : 'warning'">
                <label for="display-name">Display name</label>
                <input type="text" formControlName="displayNameControl" id="display-name">
                @if(displayNameControl.invalid){
                <span slot="helper-text">{{displayNameErrorMessage()}}</span>
                }
            </forge-text-field>
            <forge-text-field required="true"
                [theme]="(roomCodeControl.valid || roomCodeControl.untouched)? 'primary' : 'warning'">
                <label for="room-code">Room code</label>
                <input type="text" formControlName="roomCodeControl" id="room-code">
                @if(roomCodeControl.invalid || roomCodeControl.pending){
                <span slot="helper-text">{{roomCodeErrorMessage()}}</span>
                }
                @if((roomCodeControl.invalid || roomCodeControl.pending) && roomCodeControl.touched){
                <forge-icon theme="warning" name="emoticon_sad" slot="trailing"></forge-icon>
                }
                @else if(roomCodeControl.valid){
                <forge-icon theme="success" name="emoticon_happy" slot="trailing"></forge-icon>
                <span slot="helper-text">Room code is valid!</span>
                }

            </forge-text-field>
        </section>
        <section class="card-actions">
            <forge-button type="submit" variant="filled" [disabled]="roomFormControl.invalid"
                (click)="onJoinClick()">Join</forge-button>
        </section>
    </form>
    }
</forge-card>