.button-bar{
    display: flex;
    flex-direction: row;
}

.button-bar > :last-child{
    width: 25%;
}
.vote-options{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 4px;
    padding: 0 8px;
}