<forge-card>
    <div class="user-list">
        <section>
            <h3>Voters</h3>
            <h3>{{users.length}}</h3>
        </section>
        @for (user of users; track $index;) {
            <forge-card raised>
                <div class="user-card">
                    <div class="avatar" >
                        <div class="initials">{{user.avatar}}</div>
                    </div>
                    <span>{{user.name}}</span>
                </div>
            </forge-card>
        }
        <section>
            <h3>Spectators</h3>
            <h3>0</h3>
        </section>
    </div>
</forge-card>
