<forge-card>
    @if(!(this.roomService.room$ | async).isVoteOpen){
        <div class="vote-closed">
            <h1>Vote Closed</h1>
            {{score | async}}
        </div>
    }

    @if((this.roomService.room$ | async).isVoteOpen){
        <h1>Vote now</h1>
    }
</forge-card>

@if(!(this.roomService.room$ | async).isVoteOpen){
<forge-card raised>
    <!-- <img src="bar-chart.png" alt=""> -->
    <apx-chart
    [series]="series"
    [chart]="chart"
    [title]="title"
    [xaxis]="xAxis"
    [yaxis]="yAxis"
    [stroke]="stroke"
    [dataLabels]="dataLabels"
    [legend]="legend"
    [tooltip]="toolTip"
    ></apx-chart>
</forge-card>
}
