<forge-scaffold>
    <!-- header -->
    <forge-app-bar slot="header" title-text="Scrumbuddy">
        <forge-icon slot="logo" name="forge_logo"></forge-icon>
        <forge-app-bar-profile-button slot="end" avatar-text="Test User" full-name="First Last"
            email="first.last@tylertech.com"></forge-app-bar-profile-button>
    </forge-app-bar>
    <!-- body -->
    <section slot="body">
        <router-outlet></router-outlet>
    </section>
    <!-- footer -->
    <forge-toolbar inverted slot="footer">
        <span slot="start">
            <p>Scrumbuddy</p>
            <p>© 2024</p>
        </span>
    </forge-toolbar>
</forge-scaffold>