
section {
    height: 90dvh;
    display: flex;
    justify-content: center;
}

forge-icon-button {
    display: flex;
    align-items: center;
    justify-content: center;
}

forge-app-bar::part(title) {
    cursor: pointer;
}