:host{
    margin-top: 16px;

}

.container{
    margin: 16px;
    display: grid;
    grid-template-areas: 'user-list voting-options' 'user-list chart' 'user-list chart';
    gap: 2rem;
}

.user-list{
    grid-area: user-list;
    min-width: 20dvw;
}

.voting-options{
    grid-area: voting-options;
}

.chart{
    grid-area: chart;
}


